* {
  margin: 0;
  padding: 0;
}

body {
  /* background */
  background-image: url("../images/clouds\ -\ bluer.jpg");
  background-size: cover;

  /* grid (frames) */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "mail header header header header header header header header"
    "clippy clippy placeholder1 merlin merlin placeholder2 rover rover rover"
    "clippy clippy placeholder1 merlin merlin placeholder2 rover rover rover"
    "placeholder3 bonzi bonzi merlin merlin links links placeholder4 placeholder4"
    "placeholder3 bonzi bonzi merlin merlin links links placeholder4 placeholder4"
    "placeholder3 escape escape escape escape escape safe safe safe";
  height: 100vh;
  align-items: stretch;
  justify-items: stretch;
  grid-template-rows: repeat(6, 1fr);
}

#mail {
  grid-area: mail;
  /* width: 100%; */
  /* grid-column: span 2; */
}

#header {
  grid-area: header;
}

#clippy {
  grid-area: clippy;
}

#placeholder1 {
  grid-area: placeholder1;
}

#rover {
  grid-area: rover;
}

#placeholder2 {
  grid-area: placeholder2;
}

#bonzi {
  grid-area: bonzi;
}

#merlin {
  grid-area: merlin;
}

#links {
  grid-area: links;
}

#placeholder3 {
  grid-area: placeholder3;
}

#placeholder4 {
  grid-area: placeholder4;
}

#escape {
  grid-area: escape;
}

#safe {
  grid-area: safe;
}
