* {
  margin: 0;
  padding: 0;
}

body {
  /* background */
  background-image: url("../images/clouds\ -\ bluer.jpg");
  background-size: cover;

  /* grid (frames) */
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "cats old old old old old old old old"
    "cats old old old old old old old old"
    "cats2 cats2 cats3 cats4 cats4 cats5 cats6 cats6 cats6"
    "cats7 cats8 cats8 cats4 cats4 cats9 cats9 cats10 cats10"
    "cats7 cats8 cats8 cats4 cats4 cats9 cats9 cats10 cats10"
    "cats7 cats11 cats11 cats11 cats11 cats11 cats12 cats12 cats12";
  height: 100vh;
  align-items: stretch;
  justify-items: stretch;
  grid-template-rows: repeat(6, 1fr);
}

#cats {
  grid-area: cats;
}

#old {
  grid-area: old;
}

#cats2 {
  grid-area: cats2;
}

#cats3 {
  grid-area: cats3;
}

#cats6 {
  grid-area: cats6;
}

#cats5 {
  grid-area: cats5;
}

#cats8 {
  grid-area: cats8;
}

#cats4 {
  grid-area: cats4;
}

#cats9 {
  grid-area: cats9;
}

#cats7 {
  grid-area: cats7;
}

#cats10 {
  grid-area: cats10;
}

#cats11 {
  grid-area: cats11;
}

#cats12 {
  grid-area: cats12;
}
